.container {
  min-height: 100vh;
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/resto-medium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcomeTitle {
  margin: 0;
  font-size: 5rem;
  color: white;
}
.welcomeSubTitle {
  margin-top: 0;
  font-size: 2rem;
  color: white;
}

.btnOrder {
  padding: 0.5rem 2rem;
  /* background: red; */
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  opacity: 0.8;
}
.btnOrder:hover {
  opacity: 1;
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
